.error {
  padding: 5px;
  background-color: #ff614d;
  color: #fff;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  position: absolute;
  top: 80px;
}

.register-section {
  display: flex;
  flex-direction: row;
  width: fit-content;
  position: absolute;
  bottom: 20px;
}

.login-form input {
  height: 55px;
  box-shadow: inset 0 4px 3px #808080;
  font-size: 20px;
}

.login-form input::placeholder {
  font-weight: bold;
}

.login-form input:nth-child(2) {
  margin-top: 30px;
}

.login-form input::placeholder {
  font-weight: lighter;
  font-size: 15px;
  position: relative;
  left: 10px;
}

.login-form button {
  margin-top: 40px;
  height: 55px;
  color: #fff;
  background-color: #7693cc;
  font-size: 20px;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  box-shadow: 0 2px 2px #808080;
}

.register-section span {
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.register-section button {
  background-color: transparent;
  margin-left: 5px;
  color: #fff;
  font-family: "Nunito", sans-serif;
  font-size: 15px;
}

.register-section button:hover {
  color: #7693cc;
  transition: ease-in;
  transition-duration: 0.2s;
}
