.modal-background {
  position: absolute;
  display: flex;
  align-content: center;
  justify-content: center;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(78, 78, 78, 0.4);
  border-radius: 0;
  z-index: 1;
}

.modal-background div {
  background-color: #f6f6f6;
  position: absolute;
}

.modal-background button {
  background-color: #7693cc;
  padding: 2px;
  position: absolute;
  top: 10px;
  right: 10px;
}
